{% load static%}
<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html class="ie lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html class="ie lt-ie9"> <![endif]-->
<!--[if gt IE 8]> <html> <![endif]-->
<!--[if !IE]><!--><html lang="en"><!-- <![endif]-->
<head>
	<title>Happy Birthday Saleh</title>
	<link rel="shortcut icon" type="image/png" href={% static 'saleh_birthday/favicon.png' %} />

	<meta charset="UTF-8" />
	<meta name="description" content="Happy Birthday">
	<meta name="robots" content="index, follow" />
	<link rel="author" href="https://plus.google.com/u/1/+AyushSharma1/" /> 
    <meta name="keywords" content="Birthday, Happy">
    <!-- Strat of Facebook Meta -->
    <meta property="og:type" content="E-Greeting" />
    <meta property="og:image" content="favicon.ico" />
    <meta property="og:description" content="Wish you a very Happy Birthday">
    <!-- End of Facebook Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href={% static "saleh_birthday/stylesheet.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "saleh_birthday/loading.css" %}>
	<link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>
	<!-- <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'> -->
	<link rel="stylesheet/less" href={% static "saleh_birthday/cake.less" %}>
	<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.1.0/less.min.js"></script>
</head>

<body>
	<div class="loading"></div>
	<audio class="song" controls loop>
        <source src="/static/saleh_birthday/hbd.mp3"></source>
	   Your browser isn't invited for super fun audio time.
    </audio>
    <div class="balloons text-center" id="b1">
    	<h2 style="color:#F2B300;">M</h2>
    </div>
    <div class="balloons text-center" id="b2">
    	<h2 style="color:#0719D4;">s</h2>
    </div>
	<div class="balloons text-center" id="b3">
    	<h2 style="color:#D14D39;">a</h2>
    </div>
	<div class="balloons text-center" id="b4">
    	<h2 style="color:#8FAD00;">l</h2>
    </div>
	<div class="balloons text-center" id="b5">
    	<h2 style="color:#8377E4;">e</h2>
    </div>
    <div class="balloons text-center" id="b6">
    	<h2 style="color:#99C96A;">h</h2>
	</div>
	<div class="balloons text-center" id="b7">
			<h2 style="color:#20CFB4;">|:</h2>
		</div>
    

    <img src="/static/saleh_birthday/Balloon-Border.png" width="100%" class="balloon-border">
 

	<div class="container">
		
		<div class="row">
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_yellow"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_red"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_blue"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_green"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_pink"></div>
			</div>
			<div class="col-md-2 col-xs-2 bulb-holder">
				<div class="bulb" id="bulb_orange"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-center">
				<img src="/static/saleh_birthday/banner.png" class="bannar">
			</div>
		</div>
		<!-- <div class="row message">
			<div class="col-md-12"><p>Khushbu</p></div>
		</div> -->
		<div class="row cake-cover">
			<div class="col-md-12 texr-center">
				<div class="cake">
				  <div class="velas">
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				    <div class="fuego"></div>
				  </div>
				  <div class="cobertura"></div>
				  <div class="bizcocho"></div>
				</div>
			</div>
		</div>
		<div class="row message">
			<div class="col-md-12">
					    <p> امروز </p>
						<p> روز مهمیه </p>
						<p> متوجه میشی که </p>
						<p> یک سال دیگه رفته </p>
						<p> تو یک چشمک زدن</p>
						<p> <strong> با این حال </strong> </p>
						<p> میدونی؟؟ </p>
						<p> امروز روز خاصیه</p>
						<p> به خصوص برای تو</p>
						<p> به همین دلیله که</p>
						<p> من برات این صفحه رو </p>
						<p> اختصاص دادم به تو</p>
						<p>  و امیدوارم خوش حالت کرده باشم</p>
						<p> یک سال دیگه گذشت و  </p>
						<p>داری بزرگ تر میشی </p>
						<p> مسئولیت هات هم بیشتر خواهد شد </p>
						<p> اما  </p>
						<p> این زندگی آسون نیست </p>
						<p> <strong> ولی </strong> </p>
						<p> یادت نره که </p>
						<p> تو تنها نیستی </p>
						<p>و ما همه پشتتیم</p>
						<p> و باهم میسازیم آینده رو </p>
						<p> تو شادی و سختی  </p>
						<p> و در آخر اینکه</p>
						<p> سعی کن از امسال به بعد </p>
						<p> <strong> پوکر فرستادن رو ترک کنی کامل</strong> </p>
						<p> و کمی هم اخلاقتو نرم تر کنی </p>
						<p> بسه دیگه </p>
						<p> خسته نشدی یه ساعته اینجایی؟؟</p>
						<p>  :) پاشو یه دست دوتا توربو بزن</p>
						<p> ولی قبلش یه چیز بگم و تمام </p>
						<p> نه حواسم نبود 2چیز میگم </p>
						<p> چیز اول</p>
						<p> تولدت مبارک رفیق زیبا روی من </p>
						<p> چیز دوم </p>
						<p> عرفان دوثِت داره همیشه </p>
						<p> روز خوبی داشته باشی  </p>
						<p> خداحافظ  </p>
			</div>
		</div>
		<div class="navbar navbar-fixed-bottom">
			<div class="row">
				<div class="col-md-6 text-center col-md-offset-3">
					<button class="btn btn-primary" id="turn_on">چقد تاریکه ... چراغ هارو روشن کن</button>
					<button class="btn btn-primary" id="play">یه موزیک هم پلی کن</button>
					<button class="btn btn-primary" id="bannar_coming">تابلو رو بزن بیاد پایین</button>
					<button class="btn btn-primary" id="balloons_flying">به به .. حالا بادکنک هارو آزاد کن</button>
					<button class="btn btn-primary" id="cake_fadein"> کیک ات رو بیار</button>
					<button class="btn btn-primary" id="light_candle"> حالا شمعتو روشن کن ببینم بلدی</button>
					<button class="btn btn-primary" id="wish_message">به خودت تبریک بگو</button>
					<button class="btn btn-primary" id="story">این جملات رو هم از عرفان داشته باش</button>
					<!-- <button class="btn btn-primary" id="cake_cut">Lrt's Cut the Cake</button> -->
				</div>
			</div>
			<!-- <div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div>
			<div class="col-md-2">
			</div> -->
		</div>


	</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src={% static "saleh_birthday/effect.js" %}></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58229732-1', 'auto');
  ga('send', 'pageview');

</script>
</html>
